@import "partials/partial";

.component {
	@extend %box;
	color: #2f95ff;
}

.text {
	display: flex;
	@extend %box;
}

.test {
	display: flex;
}

.active {
	color: red;
}

.contact {
    text-shadow: 0 0 5px darkslateblue;
}

.about {
    text-shadow: 0 0 10px #8b4b58;
    color: white;
}
